book-list-vertical {
    .bookList {
        .listHead {
            padding-top: 1rem;
            min-height: 2rem!important;
        }
        .listTitle {
            font-size: 1.6rem;
            color: #2b2b2b;
            border-left: 2px solid color($colors, danger);
            padding-left: 0.5rem;
        }
        .more {
            font-size: 1.3rem;
            color: #9b9b9b;
        }
        .fineLine {
            display: block;
            position: absolute;
            width: 400%;
            bottom: 0;
            left: -136%;
            transform: scale(0.3);
            background: color($colors, fineLineColor);
            // background: color($colors, danger);
            height: 1px;

        }
    }

    .bookItemContainer{
      &:last-child{
        .fineLine {
          background: transparent;
      }
      }
    }
}
