<!-- Generated template for the BookListVerticalComponent component -->
<ion-list no-lines class="bookList">
  <button class="listHead" ion-item mode="ios" (click)="openMore('more',bookList.listName)">
    <span item-start class="listTitle">{{bookList.listName}}</span>
    <span class="more" item-end icon-right>
      更多
    </span>
  </button>
  <button class="bookItemContainer" ion-item *ngFor='let book of bookList.books' (click)="openBook(book)">
    <book-item [itemData]="book"></book-item>
  </button>
</ion-list>
