<ion-list no-lines>
  <button ion-item>
    <ion-icon item-start name="ios-apps-outline"></ion-icon>你好
  </button>
  <button ion-item>
    <ion-icon item-start name="ios-list-outline"></ion-icon>批量管理
  </button>
  <button ion-item>
    <ion-icon item-start name="ios-qr-scanner-outline"></ion-icon>扫一扫
  </button>
  <button ion-item>
    <ion-icon item-start name="ios-time-outline"></ion-icon>阅读记录
  </button>
  <button ion-item>
    <ion-icon item-start name="ios-cloudy-night-outline"></ion-icon>夜间模式
  </button>
  <button ion-item>
    <ion-icon item-start name="ios-share-outline"></ion-icon>导入本地书
  </button>
</ion-list>