page-read {
    ion-header{
        ion-toolbar {
            padding-top: 33px!important;
            padding-bottom: 5px!important;
            .eye{
                background: #5c5c5c;
                border-radius: 10px;
                height: 1.8rem;;
                ion-icon{
                    font-size: 1.5rem;
                }
                font-size: 1.2rem;
            }
        }
        .toolbar-background{
            background: rgba(0,0,0,.9)!important;
        }
        transition: all 200ms;
        &.hidden{
            transform: translate3d(0,-74px,0);
        }
    }
    ion-content{
        .scroll-content,
        .fixed-content{
            margin-top: 0!important;
            // overflow-y: hidden;
            margin-bottom: 0!important;
        }
        ion-slide{
            align-items: flex-start!important;
            background-size: cover;
            background-repeat: no-repeat;
            .slide-zoom{
                text-align: left;
            }
        }
        article{
            font-size: 1.6rem;
            p{
                line-height: 2;
            }
        }
        .pageCtrl{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: transparent;
            z-index: 1;
            display: flex;
            flex-wrap: wrap;
            .top,.bottom{
                width: 100%;
                height: 35%;
                // background: blue;
            }
            .left,.right{
                width: 40%;
                height: 30%;
                // background: yellow
            }
            .center{
                width: 20%;
                height: 30%;
            }
        }
        // .scroll-content{

        // }
    }

    ion-footer{
        .toolbar-background{
            background: rgba(0,0,0,.95)!important;
        }


        ion-item{
            background: transparent!important;
            ion-range{
                ion-label{
                    color: color($colors,light)!important;
                }
                .range-knob{
                    transform: scale(1)!important;
                }
            }
        }
        ion-col{

            color: color($colors,light);
            font-weight: 400;
            font-size: 1.1rem;
            padding-bottom: 0.3rem!important;
            padding-top: 0.5rem!important;
            >div{
                display: inline-block;
            }
        }
        ion-icon{
            font-size: 3rem;
 
        }
    }
}
