page-read {
  ion-header {
    ion-toolbar {
      padding-top: 33px !important;
      padding-bottom: 5px !important;
      .eye {
        background: #5c5c5c;
        border-radius: 10px;
        height: 1.8rem;
        ion-icon {
          font-size: 1.5rem;
        }
        font-size: 1.2rem;
      }
    }
    .toolbar-background {
      background: rgba(0, 0, 0, 0.9) !important;
    }
    transition: all 200ms;
    &.hidden {
      transform: translate3d(0, -74px, 0);
    }
  }
  ion-content {
    height: 100%;
    .scroll-content,
    .fixed-content {
      margin-top: 0 !important; // overflow-y: hidden;
      margin-bottom: 0 !important;
    }
    .readCente {
      .focus {
        overflow: hidden;
        box-shadow: 3px 0 3px 2px rgba(0, 0, 0, 0.2);
        &.hidden {
          left: -600px;
        }
        &.lineLarge {
          line-height: 2.5;
        }
        &.lineMiddle {
          line-height: 2;
        }
        &.lineSmall {
          line-height: 1.5;
        }
        article {
          padding: 8px 22px;
          height: 100%;
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 999;
          overflow: visible;
          text-align: justify;
          column-count: 1;
          column-gap: 44px;
          &.transition{
            transition: all 250ms linear;
          }
          p {
            margin: 0;
            line-height: inherit;
          }
        }
        .backImg {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          .pageNum,
          .time {
            opacity: 0.7;
            position: absolute;
            bottom: 0.5rem;
            font-size: 11px;
            color: #4a351a;
          }
          .battery {
            display: inline-block;
            vertical-align: middle;
          }
          .pageNum {
            left: 22px;
          }
          .time {
            right: 22px;
          }
        }
        .lineMiddle,
        .backImg {
          position: absolute;
          top: 0;
        }
      }
    }
    .pageCtrl {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: transparent;
      z-index: 9999;
      display: flex;
      flex-wrap: wrap;
      .top,
      .bottom {
        width: 100%;
        height: 30%; // background: blue;
      }
      .left,
      .right {
        width: 40%;
        height: 40%;
        // background: yellow
      }
      .center {
        width: 20%;
        height: 40%;
      }
    }
  }
  ion-footer {
    transition: all 200ms;
    .catalogContainer{
        position: relative;
        top: -20px;
        text-align: center;
        .catalogInfo{
            padding: 5px;
            border-radius: 10px;
            width: 50%;
            background: rgba(0, 0, 0, 0.8);
            color: color($colors,light);
            display: inline-block;
            .name{
                padding: 3px 0;
                position: relative;
                ion-icon{
                    position: absolute;
                    left: 5px;
                    top: 0;
                    font-size: 3rem;
                }
                span{
                    display: inline-block;
                    max-width: 70%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
    &.hidden {
      transform: translate3d(0, 124px, 0);
    }
    ion-toolbar {
      padding-bottom: 0px !important;
    }
    .toolbar-background {
      background: rgba(0, 0, 0, 0.95) !important;
    }
    ion-item {
      background: transparent !important;
      min-height: 1rem !important;
      ion-range {
        padding: 2px !important;
        ion-label {
          font-size: 1.3rem;
          color: color($colors, light) !important;
        }
        .range-knob {
          transform: scale(1) !important;
        }
        .range-bar,
        .range-bar-active {
          top: 19px !important;
          height: 6px !important;
          border-radius: 5px !important;
        }
      }
    }
    ion-row {
      position: relative;
      padding-top: 8px;
      &::before {
        content: "";
        display: block;
        width: 400%;
        height: 1px;
        transform: scale(0.3);
        position: absolute;
        top: 0;
        left: -146%;
        background: #666;
      }
      ion-col {
        color: color($colors, light);
        font-weight: 400;
        font-size: 1.1rem;
        padding-bottom: 0.1rem !important;
        > div {
          display: inline-block;
        }
      }
      ion-icon {
        font-size: 2.7rem;
      }
      .buttonIcon {
        font-size: 1.1rem;
      }
    }
  }
  @keyframes prev {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }
}
