page-book-catalog {
    ._toolbar{
        min-height: auto!important;
        .toolbar-content{
            overflow: -webkit-paged-y;
        }
    }
    ion-row {
        overflow: initial;
        position: relative;
        ion-col {
            z-index: 1000;
            background: #fff;
            vertical-align: middle;
        }
        .catalogHeader {
            height: 38px;
            color: #8c8c8c;
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translateY(38px);
            z-index: 999;
            height: 38px;
            line-height: 38px;
            font-size: 1.6rem;
            background: #f0f1f3;
        }
    }
    ion-list {
        margin-top: 0!important;
        transform: translateY(-38px);
        ._virtualItem{
            width: 100%;
            ._header{
                background: #f0f1f3;
                .input-wrapper{
                    height: 38px;
                    color: #8c8c8c;
                    height: 38px;
                    line-height: 38px;
                    font-size: 1.6rem;

                }
            }
        }
        ion-list-header {
            color: #8c8c8c!important;
            border-top: none!important;
            min-height: 30px!important;
            height: 38px;
            font-size: 1.6rem!important;
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
            background: #f0f1f3!important;
            ion-label {
                margin: 0!important;
            }
        }
        button {
            position: relative;
            min-height: 2rem!important;
            h5 {
                &.bookmark {
                    color: color($colors, danger);
                }
            }
            .label-md {
                margin-top: 8px;
                margin-bottom: 8px;
            }
            p {
                font-size: 1.1rem!important;
            }
            &::before {
                content: "";
                display: block;
                width: 200%;
                position: absolute;
                transform: scaleY(0.3);
                height: 1px;
                background: color($colors, fineLineColor);
                bottom: 0;
                left: -20%;
            }
        }
        &:last-child {
            padding-bottom: 3rem;
        }
    }
    ion-footer {
        position: fixed;
        bottom: 0;
        ion-icon {
            font-size: 2.5rem;
        }
        button {
            color: color($colors, danger)!important;
        }
    }
}