<!--
  Generated template for the BookCatalogPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="danger">
    <ion-title style="transform:translateY(50px)">目录</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-row>
    <ion-col padding>
      共<span style="padding:0 0.3rem">791</span>章
    </ion-col>
    <ion-col padding text-right>
      <ion-icon name="md-more"></ion-icon>
      倒叙
    </ion-col>
    <ion-col #bookHeade no-padding padding-left class="catalogHeader" col-12>
      {{catalogArr[0].headerName}}
    </ion-col>
  </ion-row>
  <ion-scroll #scroll scrollY="true">
    <ion-list #list no-lines  *ngFor="let items of catalogArr">
      <ion-list-header no-margin>
        {{items.headerName}}
      </ion-list-header>
      <button ion-item  *ngFor="let item of items.catalog" (click)="read(item)">
        <h5 [ngClass]="{'bookmark': item.bookmark}">{{item.title}}</h5>
        <p>{{item.time | date: 'yyyy-MM-dd HH:mm'}}</p>
        <span ion-text item-end>
          <ion-icon name="ios-cloud-download-outline"></ion-icon>
        </span>
      </button>
    </ion-list>
  </ion-scroll>
  <ion-footer>
    <button ion-item text-center>
      <ion-icon color="danger" name="ios-download-outline"></ion-icon>
      批量下载
    </button>
  </ion-footer>
</ion-content>
