<!--
  Generated template for the RankPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="danger">
    <ion-title>
      <span>排行榜</span>
      <button no-margin ion-button small margin-left class="sexToggle" (click)="toggleClass($event)">
        男生
        <ion-icon name="md-arrow-dropdown"></ion-icon>
      </button>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="toggleTime($event)">
        <ion-icon color="light" name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-scroll float-left col-3 no-padding scrollY="true">
    <ion-list class="rankList">
      <ion-item [ngClass]="{'checked': true}">
        风云榜
      </ion-item>
      <ion-item>
        畅销榜
      </ion-item>
      <ion-item>
        点击榜
      </ion-item>
      <ion-item>
        推荐榜
      </ion-item>
      <ion-item>
        打赏榜
      </ion-item>
      <ion-item>
        更新榜
      </ion-item>

    </ion-list>
  </ion-scroll>
  <ion-scroll class="rankContainer" #scroll float-left col-9 no-padding scrollY="true">
    <ion-list no-lines>
      <button ion-item *ngFor="let item of list" (click)="openBook(item)">
        <div class="bookListItem">
          <div class="bookPreview">
            <img [src]="item.img">
            <span *ngIf="item.hasRank" class="ranking">{{item.rank}}</span>
          </div>
          <div class="bookContainer">
            <h2>{{item.title}}
              <span *ngIf="hasSearch">{{item.searchNum}}搜索</span>
            </h2>
            <p class="intro">{{item.content}}</p>
            <p class="tags">
              <ion-icon name="ios-person-outline"></ion-icon>
              <span class="author">{{item.author}}</span>
              <span class="num">
                {{item.num}}万字
              </span>
              <span class="tag">
                {{item.tag}}
              </span>
            </p>
          </div>
        </div>
        <div class="fineLine"></div>
      </button>
    </ion-list>
    <ion-row [ngClass]="{'loadMore': !hasMore}" align-items-center justify-content-center #spinner>
        <ion-spinner name="circles"></ion-spinner>加载中
    </ion-row>
  </ion-scroll>
</ion-content>
