page-img-tailor {
    .tailorContainer{
        width: 100%;
        height: 80%;
        overflow: hidden;
        position: relative;
        // background: url('../../assets/imgs/biao.png') no-repeat;
    }
    ion-content{
        overflow: hidden;
        ._mask{
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    ._footer{
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        height: 20%;
        background: #6b6b6b;
        button{
            background: transparent;
            padding: 3rem 0 1rem 0;
            letter-spacing: 1px;
            font-size: 1.6rem;
            color: #fff;
        }
    }
}
