page-contact {
    ion-content{
      background-color: color($colors,backgroundColor)!important;

    }
    .button-md{
        box-shadow: none;
        letter-spacing: 0.2rem
    }
    .num{
        color: color($colors,danger);
        padding-right: 0.3rem;
    }
    .avatar{
        width: 6rem;
        height: 6rem;
        box-shadow:none;
        position: absolute;
        top: -3rem;
        left: 1.6rem;
        border-radius: 3rem;
        overflow: hidden;
        background: #fff;
        padding: 1px;
        img{
            width: 100%;
            height: 100%;
            border-radius: 3rem;
        }
    }
    .user{
        background: color($colors,danger);
        padding: 0.3rem;
        margin-top: -0.2rem;
        h4{
            color: color($colors,light);
            font-size: 1.6rem;
        }
    }
    .userInfo{
        padding: 0.8rem;
        background-color: color($colors,backgroundColor);
        color: #ccc;
        margin-top: -0.2rem;
        span{
            color: #4b4b4b;
            padding-right: 0.3rem;
        }

    }
    .personSet{
        .item{
            font-size: 1.4rem!important;
            min-height: 4rem;
            color: color($colors,fontBlack)
        }
        ion-icon{
            font-size: 2.5rem;
            padding-top: 0.4rem;
        }
        .item-inner{
            margin-left: 5px!important;
        }
        ion-note{
            font-size: 1.3rem;
        }
        button{
          position: relative;
          &:last-child{
            .fineLine{
              display: none;
            }
          }
          .fineLine{
            height: 1px;
            background: color($colors,fineLineColor);
            width: 400%;
            position: absolute;
            bottom: 0;
            left: -125%;
            transform: scale(0.3)
          }
        }
// 啊啊啊
    }
}
