book-list-horizontal {
    .bookList {
        background: #fff;
        .listHead {
            padding-top: 1rem;
            min-height: 2rem!important;
        }
        .listTitle {
            font-size: 1.6rem;
            color: #2b2b2b;
            border-left: 2px solid color($colors, danger);
            padding-left: 0.5rem;
        }
        .more {
            font-size: 1.3rem;
            color: #9b9b9b;
        }
    }
    .bookListContainer {
        margin: 0;
        list-style-type: none;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        .bookListItem {
            width: 20%;
            margin-right: 6.666%;
            &:last-child {
                margin-right: 0;
            }
            img {
                box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2)
            }
            h5 {
                font-size: 1.2rem;
                text-align: left;
                margin: 0.2rem 0;
                color: #4a4a4a;
            }
            p {
                margin: 0;
                font-size: 1.1rem;
                text-align: left;
                color: #8c8c8c;
            }
        }
    }
}
