<!-- Generated template for the BookListHorizontalComponent component -->
<ion-list no-lines class="bookList">
  <button class="listHead" mode="ios" ion-item (click)="openMore('more',bookList.listName)">
    <span item-start class="listTitle">{{bookList.listName}}</span>
    <span class="more" item-end icon-right>
      更多
    </span>
  </button>
  <ul padding class="bookListContainer">
    <li *ngFor="let book of bookList.books" class="bookListItem" (click)="openBook(book)">
      <img [src]="book.img" alt="">
      <h5>{{book.title}}</h5>
      <p>{{book.author}}</p>
    </li>
  </ul>
</ion-list>
