// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.sexPop {
    .popover-content {
        width: 10rem!important;
        // top: 1.3rem!important;
        left: 7rem!important;
    }
}

.RankPopClass {
    .popover-content {
        width: 10rem!important;
        // top: 1.3rem!important;
        left: 13rem!important;
    }
}

.RankPopTime {
    .popover-content {
        width: 10rem!important;
        // top: 1.3rem!important;
        right: 1rem!important;
    }
}

.hotPop {
    .popover-content {
        width: 10rem!important;
        // top: 1.3rem!important;
        right: 7rem!important;
    }
}

.searchPop {
    .popover-content {
        width: 100%!important;
        // height: 40%!important;
        left: 0!important;
        top: 10rem!important;
        box-shadow: none;
        overflow: inherit;
    }
}

.bookAbs {
    left: 0!important;
    right: 0!important;
    bottom: 0!important;
    top: 0!important;
    background: rgba(0, 0, 0, .5)!important;
    .popover-content {
        width: 100%!important;
        height: 100%!important;
        left: 0!important;
        top: 0!important;
        bottom: 0!important;
        max-height: 100%!important;
        background: transparent!important;
        transform-origin: center bottom 0px!important;
        transform: scaleY(1)!important;
        transition-delay: 0ms!important;
    }
}

.refresher-refreshing,
.refresher-pulling {
    text-align: center;
}

.refresher-refreshing-icon,
.refresher-pulling-icon {
    display: inline-block;
    vertical-align: middle;
}

.refresher-refreshing-text,
.refresher-pulling-text {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 0.1rem;
    padding-left: 0.5rem;
}
ion-navbar{
  padding-top: 33px!important;
  padding-bottom: 5px!important;
}
