<!-- Generated template for the BookClassificationSearchComponent component -->
<ion-grid>
  <ion-row #searchContainer>
    <ion-col (click)=checkBox($event,0)>
      <button>
        {{checkBoxTitle|searchTitle}}
        <ion-icon name="ios-arrow-down"></ion-icon>
      </button>
      <span *ngIf="index==0" class="iconTag"></span>
    </ion-col>
    <ion-col (click)=radio($event,1)>
      <button>
        {{radioTitle|searchTitle}}
        <ion-icon name="ios-arrow-down"></ion-icon>
      </button>
      <span *ngIf="index==1" class="iconTag"></span>
    </ion-col>
    <ion-col (click)=flitrate($event,2)>
      <button>
        {{filtrateTitle|searchTitleFiltrate}}
        <ion-icon name="ios-arrow-down"></ion-icon>
      </button>
      <span *ngIf="index==2" class="iconTag"></span>
    </ion-col>
  </ion-row>
</ion-grid>
