page-search {
    ion-input{
        font-size:1.4rem;
        border-bottom: 2px solid #fff;
        vertical-align: bottom;
        input{
            margin-bottom: 0.5rem!important;
        }
    }
    .toolbar-content{
        position: relative;
    }
    ion-buttons{
        position: absolute;
        right: 0.3rem;
        top: 0.5rem;
    }
}
