page-search {
    ion-content {
        background-color: #f0f1f3!important;
    }
    ion-input {
        font-size: 1.3rem;
        border-bottom: 1px solid #d2d3d5;
        vertical-align: bottom;
        margin-top: -0.5rem;
        input {
            margin-bottom: 0.5rem!important;
        }
    }
    .toolbar-content {
        position: relative;
    }
    .toolbar-title-md {
        padding-left: 0;
    }
    ion-buttons {
        position: absolute;
        right: 0.8rem;
        top: 0rem;
    }
    ion-card {
        width: 100%!important;
        box-shadow: none!important;
        ion-card-header {
            font-size: 1.4rem!important;
            text-align: left;
            position: relative;
            padding-bottom: 8px!important;
            color: #8c8c8c!important;
            button {
                padding: 0.3rem 0.5rem;
                float: right;
                font-size: 1.3rem;
                color: #4a4a4a;
                background: transparent;
            }
            ;
            &:before {
                content: "";
                display: block;
                background: color($colors, fineLineColor);
                height: 1px;
                width: 200%;
                position: absolute;
                transform: scale(0.5);
                bottom: 0;
                left: -50%;
            }
        }
        ion-row {
            ion-col {
                button {
                    position: relative;
                    display: inline-block;
                    padding: 5px 10px;
                    white-space: nowrap;
                    background: transparent;
                    font-size: 12px;
                    color: #8c8c8c;
                    &:active::after {
                        border-color: color($colors, dark)
                    }
                    ;
                    &::after {
                        content: "";
                        display: block;
                        width: 200%;
                        height: 200%;
                        border: 1px solid #8c8c8c;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: scale(0.5);
                        transform-origin: left top;
                        border-radius: 30px;
                        transition: border-color 300ms;
                    }
                }
                &:nth-child(-n+3) {
                    button {
                        color: color($colors, danger);
                        &::after {
                            border-color: color($colors, danger)
                        }
                    }
                }
            }
        }
    }
    ion-list {
        .fire {
            font-size: 3rem;
            vertical-align: middle;
            margin-top: -0.4rem;
            margin-right: 0.5rem;
        }
        .hotRank {
            font-size: 1.4rem!important;
            .forwardIcon{
              color: #8c8c8c;
            }
        }
        ion-thumbnail {
            width: 3.5rem!important;
            height: 3.5rem!important;
            min-height: 3.5rem!important;
            min-width: 3.5rem!important;
            overflow: hidden;
            margin-top: 0!important;
            margin-bottom: 0!important;
            img {
                width: 100%!important;
                height: auto!important;
            }
        }
        ion-item {
            position: relative;
            &::before {
                content: "";
                display: block;
                width: 400%;
                height: 1px;
                background: color($colors, fineLineColor);
                transform: scale(0.3);
                position: absolute;
                left: -136%;
                bottom: 0;
            }
            &:last-child::before {
                display: none;
            }
        }
        p {
            color: #4a4a4a!important
        }
    }
    .swiper-slide {
        align-items: flex-start;
    }
    .auto {
        ion-item {
            color: #4a4a4a;
            .listPreview {
                display: inline-block;
                position: relative;
                width: 30px;
                height: 30px;
                vertical-align: middle;
                img {
                    position: absolute;
                    max-width: 30px;
                    max-height: 50px;
                    width: 20px;
                    height: 30px;
                    &.face {
                        z-index: 2;
                        bottom: 0;
                        right: 0;
                    }
                    &.back {
                        z-index: 1;
                        transform: rotate(-90deg);
                        bottom: -5px;
                        left: 0;
                    }
                }
            }
            ion-icon {
                font-size: 2rem;
                padding-right: 0.8rem;
                padding-left: 0.8rem;
                margin-bottom: -0.6rem;
                overflow: hidden;
                color: #a5a1a1
            }
            .label-md {
                margin: 0 8px 0 0;
            }
            .tag {
                font-size: 1.1rem;
                color: #8c8c8c;
                max-width: 80%;
                overflow: hidden;
                display: inline-block;
                font-size: 1.2rem;
                margin-bottom: -0.4rem;
            }
            .autocontent {
                display: inline-block;
                max-width: 80%;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 1.4rem;
                margin-bottom: -0.5rem
            }
            &.more {
                font-size: 1.2rem;
                position: relative;
                color: #8c8c8c;
                &::after {
                    position: absolute;
                    content: "";
                    display: block;
                    height: 1px;
                    width: 200%;
                    transform: scale(0.5);
                    bottom: 0;
                    left: -50%;
                    background: color($colors, fineLineColor);
                }
            }
        }
    }
    ion-segment {
        background: #fff;
    }
    .segment-button {
        color: #8c8c8c!important;
        font-size: 1.5rem!important;
        font-weight: 600!important;
    }
    .segment-activated {
        color: color($colors, danger)!important
    }
    .bookResult {
        button {
            &:last-child {
                .fineLine {
                    display: none;
                }
            }
        }
        .listHead {
            padding-top: 1rem;
            min-height: 2rem!important;
        }
        .listTitle {
            font-size: 1.6rem;
            color: #2b2b2b;
            border-left: 2px solid color($colors, danger);
            padding-left: 0.5rem;
        }
        .more {
            font-size: 1.3rem;
            color: #9b9b9b;
        }
        .fineLine {
            display: block;
            position: absolute;
            width: 400%;
            bottom: 0;
            left: -136%;
            transform: scale(0.3);
            background: color($colors, fineLineColor);
            // background: color($colors, danger);
            height: 1px;
        }
    }
    .bookListItem {
        display: flex;
        width: 100%;
        padding-bottom: 0.5rem;
        justify-content: space-between;
        .bookPreview {
            width: 20%;
            padding-left: 0.1rem;
            padding-top: 0.1rem;
            img {
                box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
                vertical-align: middle;
            }
        }
        .bookContainer {
            display: flex;
            width: 80%;
            flex-wrap: wrap;
            padding-left: 0.8rem;
            align-content: space-between;
            >* {
                width: 100%;
            }
            h2 {
                font-size: 1.5rem;
                color: #2b2b2b;
                text-shadow: 0 1px 1px rgba(162, 179, 206, .4);
            }
            .intro {
                white-space: initial;
                font-size: 1.3rem;
                min-height: 3.4rem;
                text-shadow: 1px 1px 1px rgba(162, 179, 206, .4);
            }
            .tag {
                font-size: 1.3rem;
                height: 1.6rem;
                line-height: 1.6rem;
                padding-right: 10px;
                margin-bottom: 0;
                overflow: hidden;
                text-shadow: 0 1px 1px rgba(162, 179, 206, .4);
                ion-icon {
                    font-size: 2rem;
                    vertical-align: top;
                    margin-top: -0.3rem;
                    text-shadow: none;
                }
                span {
                    float: right;
                    text-shadow: none;
                    transform: scale(0.5);
                    font-size: 2rem;
                    padding: 0.6rem 0.8rem;
                    border: 1px solid rgba(162, 179, 206, .9);
                    border-radius: 0.3rem;
                    color: #a2b3ce;
                    margin-top: -0.7rem;
                    margin-right: -3rem;
                }
            }
        }
    }
}
