<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="danger">
    <ion-title>
      <ion-input (ionChange)="thisInput($event)" placeholder="请输入搜索内容">
        <ion-icon type="search" name="ios-search-outline"></ion-icon>
      </ion-input>
    </ion-title>
    <ion-buttons>
      <button (click)="serachDone()" ion-button icon-only>
        <ion-icon name="ios-search-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-slides #search>
    <!-- 搜索首页 -->
    <ion-slide>
      <ion-card no-margin>
        <ion-card-header>
          搜索热词
          <button end>
            换一批
          </button>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <button>召唤</button>
              </ion-col>
              <ion-col>
                <button>奥特曼</button>
              </ion-col>
              <ion-col>
                <button>神豪</button>
              </ion-col>
              <ion-col>
                <button>奶爸</button>
              </ion-col>
              <ion-col>
                <button>网游之</button>
              </ion-col>
              <ion-col>
                <button>召唤</button>
              </ion-col>
              <ion-col>
                <button>奥特曼</button>
              </ion-col>
              <ion-col>
                <button>神豪</button>
              </ion-col>
              <ion-col>
                <button>奶爸</button>
              </ion-col>
              <ion-col>
                <button>网游之</button>
              </ion-col>
              <ion-col>
                <button>召唤</button>
              </ion-col>
              <ion-col>
                <button>奥特曼</button>
              </ion-col>
              <ion-col>
                <button>神豪</button>
              </ion-col>
              <ion-col>
                <button>奶爸</button>
              </ion-col>
              <ion-col>
                <button>网游之</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      <ion-list margin-top no-lines>
        <button (click)="goRank()" class="hotRank" ion-item>
          <ion-icon large class="fire" color="danger" name="ios-flame"></ion-icon>
          热搜作品榜
          <ion-icon class="forwardIcon" item-end name="ios-arrow-forward-outline"></ion-icon>
        </button>
      </ion-list>
      <ion-list no-lines>
        <ion-item>
          <ion-thumbnail item-start>
            <img src="http://placehold.it/300x300">
          </ion-thumbnail>
          <p>刚穿越就拥有一座地下城。</p>
        </ion-item>
        <ion-item>
          <ion-thumbnail item-start>
            <img src="http://placehold.it/300x300">
          </ion-thumbnail>
          <p>奇迹MUI正版本授权《大天使之剑H5》点击即玩</p>
        </ion-item>
      </ion-list>
    </ion-slide>


    <!-- 搜索提示页 -->
    <ion-slide style="background:#fff">
      <ion-list no-lines class="auto">
        <ion-item *ngFor="let item of aotoCompleArr">
          <ion-icon *ngIf="isBook(item)" name="ios-book-outline"></ion-icon>
          <ion-icon *ngIf="isAuthor(item)" name="ios-person-outline"></ion-icon>
          <span class="listPreview" *ngIf="isBookList(item)">
            <img class="face" src="{{item.preview.face}}" alt="地球山神">
            <img class="back" src="{{item.preview.back}}" alt="我是大明星">
          </span>
          <span class="autocontent">{{item.content}}</span>
          <span class="tag" *ngIf="hasDes(item)">{{item.des}}</span>
        </ion-item>
        <ion-item class="more" text-center>
          查看更多
        </ion-item>
      </ion-list>
    </ion-slide>

    <!-- 搜索提示页 -->
    <ion-slide>
      <ion-list no-lines>
        <ion-segment [(ngModel)]="target">
          <ion-segment-button value="book">
            作品
          </ion-segment-button>
          <ion-segment-button value="bookList">
            书单
          </ion-segment-button>
        </ion-segment>

        <div [ngSwitch]="target" (swipe)="toggleResult($event)">

          <!-- 搜索书籍结果 -->
          <ion-list class="bookResult" *ngSwitchCase="'book'">
            <button ion-item>
              <div class="bookListItem">
                <div class="bookPreview">
                  <img src="https://qidian.qpic.cn/qdbimg/349573/1006635077/150">
                </div>
                <div class="bookContainer">
                  <h2>罪域的骨终为王</h2>
                  <!-- <p text-wrap>民风淳朴的燕南真，热情</p> -->
                  <p class="intro">民风淳朴的燕南真，热情好客的不死街，化身骷髅踏上传火之旅。</p>
                  <p class="tag">
                    <ion-icon name="ios-person-outline"></ion-icon>
                    黑暗荔枝
                    <span>
                      147万字
                    </span>

                    <span>
                      连载
                    </span>
                    <span>
                      二次元
                    </span>
                  </p>
                </div>
              </div>
              <div class="fineLine"></div>
            </button>

            <button ion-item>
              <div class="bookListItem">
                <div class="bookPreview">
                  <img src="https://qidian.qpic.cn/qdbimg/349573/1006635077/150">
                </div>
                <div class="bookContainer">
                  <h2>罪域的骨终为王</h2>
                  <!-- <p text-wrap>民风淳朴的燕南真，热情</p> -->
                  <p class="intro">民风淳朴的燕南真，热情好客的不死街，化身骷髅踏上传火之旅。</p>
                  <p class="tag">
                    <ion-icon name="ios-person-outline"></ion-icon>
                    黑暗荔枝
                    <span>
                      147万字
                    </span>

                    <span>
                      连载
                    </span>
                    <span>
                      二次元
                    </span>
                  </p>
                </div>
              </div>
              <div class="fineLine"></div>
            </button>
            <button ion-item>
              <div class="bookListItem">
                <div class="bookPreview">
                  <img src="https://qidian.qpic.cn/qdbimg/349573/1006635077/150">
                </div>
                <div class="bookContainer">
                  <h2>罪域的骨终为王</h2>
                  <!-- <p text-wrap>民风淳朴的燕南真，热情</p> -->
                  <p class="intro">民风淳朴的燕南真，热情好客的不死街，化身骷髅踏上传火之旅。</p>
                  <p class="tag">
                    <ion-icon name="ios-person-outline"></ion-icon>
                    黑暗荔枝
                    <span>
                      147万字
                    </span>

                    <span>
                      连载
                    </span>
                    <span>
                      二次元
                    </span>
                  </p>
                </div>
              </div>
              <div class="fineLine"></div>
            </button>
          </ion-list>

          <!-- 搜索书单结果 -->
          <ion-list *ngSwitchCase="'bookList'">
            <ion-item>
              <ion-thumbnail item-start>
                <img src="assets/img/thumbnail-kitten-1.jpg">
              </ion-thumbnail>
              <h2>Luna</h2>
            </ion-item>
            <ion-item>
              <ion-thumbnail item-start>
                <img src="assets/img/thumbnail-kitten-3.jpg">
              </ion-thumbnail>
              <h2>Milo</h2>
            </ion-item>
            <ion-item>
              <ion-thumbnail item-start>
                <img src="assets/img/thumbnail-kitten-4.jpg">
              </ion-thumbnail>
              <h2>Bandit</h2>
            </ion-item>
            <ion-item>
              <ion-thumbnail item-start>
                <img src="assets/img/thumbnail-kitten-2.jpg">
              </ion-thumbnail>
              <h2>Nala</h2>
            </ion-item>
          </ion-list>
        </div>
      </ion-list>
    </ion-slide>

  </ion-slides>

</ion-content>
