page-setting {
    ion-content {
        background-color: #f0f1f3!important;
    }
    ion-item {
        position: relative;
    }
    ion-list {
        button.item::after {
            content: "";
            display: block;
            width: 200%;
            height: 1px;
            background: #dce1e9;
            transform: scale(0.5);
            position: absolute;
            bottom: 0;
            left: -47%;
        }
        button.item {
            color:color($colors,fontBlack);
            font-size: 1.4rem!important;
            min-height: 4rem;
            &:last-child::after{
                display: none;
            }
        }
        .logout{
            color: color($colors,danger)!important;
        }
    }
}
