page-change-nickname {
    ion-buttons{
        button{
            font-size: 1.7rem!important;
        }
    }
    ion-content {
        background: #f0f1f3!important;
    }
    .info{
        background: #f0f1f3;
        p{
            line-height: 1.7;
            font-size: 1.3rem;
        }
    }
}
