page-hot-rank {
    .toolbar-title-md{
        padding: 0;
      }
    ion-buttons {
        border-radius: 3rem;
        overflow: hidden;
        padding: 0rem 0.5rem;
        background: #b32727;
        ion-icon {
            margin-left: 0.5rem;
            font-size: 1.5rem;
        }
        .bar-button{
          height: 28px;
        }
        button {
            letter-spacing: 0.2rem;
            &.activated {
                background: #b32727;
                box-shadow: none;
            }
        }
    }
    .bookList {
        .fineLine {
            display: block;
            position: absolute;
            width: 200%;
            bottom: 0;
            left: -48%;
            transform: scale(0.5);
            background: color($colors, fineLineColor);
            height: 1px;
        }
        .bookListItem {
            display: flex;
            width: 100%;
            justify-content: space-between;
            .bookPreview {
                position: relative;
                width: 20%;
                padding-left: 0.1rem;
                padding-top: 0.1rem;
                img {
                    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
                    vertical-align: middle;
                }
                .ranking {
                    position: absolute;
                    font-size: 1.3rem;
                    background: #cc3642;
                    color: #fff;
                    padding: 0.2rem 0.2rem 0.1rem 0.2rem;
                    left: 0;
                    top: 0.7rem;
                }
            }
            .bookContainer {
                display: flex;
                width: 80%;
                flex-wrap: wrap;
                padding-left: 0.8rem;
                align-content: space-between;
                >* {
                    width: 100%;
                }
                h2 {
                    font-size: 1.5rem;
                    color: color($colors,fontBlack);
                    span {
                        float: right;
                        font-size: 1.3rem;
                        color: #4a90e2;
                    }
                }
                .intro {
                    white-space: initial;
                    font-size: 1.3rem;
                    min-height: 3.4rem;
                    // text-shadow: 1px 1px 1px rgba(162, 179, 206, .4);
                    color:rgb(168,168,168)!important;
                }
                .tag {
                    font-size: 1.3rem;
                    height: 1.6rem;
                    line-height: 1.6rem;
                    padding-right: 10px;
                    margin-bottom: 0;
                    overflow: hidden;
                    color:rgb(168,168,168)!important;
                    ion-icon {
                        font-size: 2rem;
                        vertical-align: top;
                        margin-top: -0.3rem;
                        text-shadow: none;
                    }
                    span {
                        float: right;
                        text-shadow: none;
                        transform: scale(0.5);
                        font-size: 2rem;
                        padding: 0.6rem 0.8rem;
                        border: 1px solid rgba(162, 179, 206, .9);
                        border-radius: 0.3rem;
                        color: #a2b3ce;
                        margin-top: -0.7rem;
                        margin-right: -3rem;
                        &:nth-child(3){
                          color: #d4b185;
                          border-color: #d4b185;
                        }
                    }
                }
            }
        }
    }
}
