page-hot-rank {
    .toolbar-title-md{
        padding: 0;
      }
    ion-buttons {
        border-radius: 3rem;
        overflow: hidden;
        padding: 0rem 0.5rem;
        background: #b32727;
        ion-icon {
            margin-left: 0.5rem;
            font-size: 1.5rem;
        }
        .bar-button{
          height: 28px;
        }
        button {
            letter-spacing: 0.2rem;
            &.activated {
                background: #b32727;
                box-shadow: none;
            }
        }
    }
}
